/***************header***************/
body{
	background-color: #fff;
	overflow-x: hidden;
	height: 900px;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

header-section{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

#clock{
	display: inline-block;
	background-color: blue;
	color: #fff;
	height: 2.5rem;
}

nav ul{
	position: relative;
	height: 3.2rem;
	text-align: center;
	border-top: red 4px solid;
	background: #000;
}

.nav-logo-container {
	position: absolute;
	height: 51.19px;
	padding: 0;
	left: 15px;
	background-color: #fff;
	border-top: red 4px solid;
	border-bottom: #000 5px solid;
}

.nav-logo-container img{
	position: relative;
	background-color: #fff;
	padding-top: 7px;
	width: 100%;
	height: 100%;
	left: 10px;
}

nav ul li{
	display: inline-block;
	font-size: 1rem;
	padding-right: 1%;
	padding-top: 1%;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover{
	background: red;
	padding-top: 16px;
	padding-bottom: 14px;
	color: #fff;
	text-decoration: none;
}

.current{
	background-color: red;
	padding-top: 16px;
	padding-bottom: 14px;
}

#logo {
	position: relative;
	/*top: 18%;*/
	margin-top: 7%;
	margin-bottom: 2%;
}

#logo h4 {
	color: blue;
}
#logo-img {
	position: relative;
}

#logo #cpd-star-img{
	position: relative;
	width: 30%;
}

.text-center h3 {
	margin-top: 7%;
}

#slider-gallery-4img {
	position: relative;
	height: 370px;
	/*top: 9%;*/
}

#slider-gallery-4img img{
	position: relative;
	/*top: 22%;*/
	width: 100%;
	height: 370px;
	margin-left:2%;
}

#gallery-4img img {	
	display: inline-block;
	width: 47%;
	height: 49.5%;
	padding: 1%;
	margin-right: 2%;
	margin-left: 0;
	border: 1px #000 solid;
}

.top-gal-img{
	margin-bottom: 1%;
}

/*********end of header***********/

/**********index**************/

.overlay{
	position: relative;
	background-color: rgba(0, 0, 0, 0.6);
  	background-size: cover;
  	/*bottom: 0;*/
  	height: 80vh;
  	width: 100%;
 	z-index: 2;
}

#serving-community {
	position: relative;
	background-image: url('../img/shirt.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	border-top: 4px blue solid;
	border-bottom: 4px red solid;
	color: #fff;
	font-style: italic;
	margin-top: 2%;
	text-align: center;
	font-size: 1rem;
	opacity: 0.8;
}

#serving-community-text {
	position: relative;
	top: 10%;
}

#serving-community-text p {
	font-size: 5rem;
}
.serving {
	margin-top: 2%;
}

.mission-paragraph{
	width: 90%;
}

#mission-img {
	position: relative;
	background-image: url('../img/img9.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-top: 4px blue solid;
	border-bottom: 4px red solid;
	color: #fff;
	font-style: italic;
	margin-top: 2%;
	text-align: center;
	font-size: 1rem;
}

#news-wrapper {
	margin-top: 0rem;
	height: 390px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #ddd;
	border-top: 1px #000 solid;
}

#news-events-section-titles {
	position: relative;
	margin-top: 6%;
}

#news-section-title {
	position: relative;
	left: 1.5%;
	border-bottom: 4px blue solid;
	height: 65px;
	padding-left: 0;
}

#news-section-title h4 {
	position: relative;
	bottom: 0;
	color: #fff;
	display: inline-block;
	background: blue;
	margin-bottom: 0;
	padding: 1.1rem;
	border-radius:10px 10px 0 0;
}

#news-section-title-empty-div {

	padding: 0;
}

#events-section-title {
	position: relative;
	border-bottom: 4px red solid;
	height: 65px;
	padding: 0;
	border-radius:5px;
}

#events-section-title h4{
	position: relative;
	bottom: 0;
	display: inline-block;
	color: #fff;
	background: red;
	margin-bottom: 0;
	padding: 1.1rem;
	border-radius:10px 10px 0 0;

}


.news-upcoming {
	padding-top: 2%;
}

.news-img {
	position: relative;
	width: 100%;
	height: 50%;
	margin-left: 9%;
}

.events-img {
	position: relative;
	width: 200px;
	height: 100px;
	margin-bottom: 2rem;
}
/*************end of index**************/

/**************gallery******************/
.gallery {
	background: #ddd;
	height: 100vh;
	padding-top: 10%;
	/*margin: 10px 50px;*/
}

.gallery img {
	width: 230px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}

/* end gallery */

/* join prpa */
#prpa-title {
	margin-top: 15%;
	color: #000;
	text-align: center;
	border: 2px #000 solid;
}

.required {
	color: red;
}

.required-text {
	color: red;
	font-size: 1rem;
}
#membership-type {
	padding-top: 2%;
	border-left:2px #000 solid;
	border-right:2px #000 solid;
	padding-bottom: 3%;
}

#membership-type h5 {
	text-align: center;
	display: inline-block;
	padding-bottom: 3%;
}

#reg-membership {
	padding-bottom: 3%;
}

#member-address {
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
	border-bottom: 2px #000 solid;
}

#member-address form {
	padding-top: 3%;
	padding-bottom: 3%;
}

#prpa-correspondence {
	padding-top: 3%;
	padding-bottom: 3%;
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
	border-bottom: 2px #000 solid;
}

.volunteer {
	padding-bottom: 1%;
	padding-top: 3%;
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
}

.checkboxes {
	padding-bottom: 3%;
	border-bottom: 2px #000 solid;
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
}

.box1{
	position: relative;
	display: inline;
	left: 2%;
}

.box2 {
	position: absolute;
	display: inline;
	top: 0;
	left: 41%;
}

.box2-1 {
	position: absolute;
	display: inline;
	top: 28%;
	left: 41%;
}

.box3 {
	position: absolute;
	display: inline;
	top: 0;
	left: 72%;
}

.box3-1 {
	position: absolute;
	display: inline;
	top: 28%;
	left: 72%;
}

#agency-container {
	padding-top: 3%;
	padding-bottom: 3%;
	border-bottom: 2px #000 solid;
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
}

#join-bg {
	background: lightblue;
}

.right-side {
	position: relative;
	/*padding-left: 40%;*/
	left: 40%;
}

.middle {
	position: relative;
	left: 30%;
}

#reg-membership {
	padding-top: 3%;
	border: 2px #000 solid;
}

#swornlaw {
	font-size: 1rem;
	color: red;
}

/* end join prpa */

/* board members */

.first-row {
	margin-top:10%;
}
.head-shots {
	position:relative;
	text-align: center;
}

.head-shots img {
	/*padding-left: 13.5%;*/
	margin-top: 15%;
	border-radius: 100px;
}

.head-shots h3 {
	padding-top: 10px;
	color: blue;
}

/* end board members */

/* about */

#serving-community {
	position: relative;
	margin-top: 6%;
}

.about-text-container {
	background-color: lightblue;	
}

.prpa-assoc {
	background-color: #fff;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 5px 10px #000;
}

/* end about */

/************ donate *******************/

.badge-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
  	/*bottom: 0;*/
  	width: 49%;
  	height: 100vh;
 	z-index: 1;
}

.donate-officer {
	position: relative;
	background-image: url('../img/fallenbadge.jpg');
	text-align: center;
	background-position: center;
	border-right: 10px blue solid;
	height: 100vh;
	color: #fff;
	
}

.donate-officer h2 {
	position: relative;
	text-align: center;
	margin-top: 2%;
	z-index: 2;
}

#help-support {
	position: relative;
	margin-top: 20%;
}

.donate-officer h5 {
	position: relative;
	z-index: 2;
}

#officer-donate-btn {
	position: relative;
	background: blue;
	color: #fff;
	padding: .7rem;
	font-size: 1rem;
	border:none;
	margin-top: 1.5%;
	margin-bottom: 3%;
	border-radius: 15%;
	z-index: 2;

}

#officer-donate-btn:hover {
	background-color: red;
	cursor: pointer;
}

.donate-officer p {
	position: relative;
	line-height: .5rem;
	z-index: 2;
}

.donate-officer h6 {
	position: relative;
	z-index: 2;
}

.prpa-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
  	/*bottom: 0;*/
  	left: 50.8%;
  	width: 50%;
  	height: 100vh;
 	z-index: 1;
}

.donate-prpa {
	position: relative;
	text-align: center;
	background-image: url('../img/elmoro.jpg');
	background-repeat: no-repeat;
	background-position: center;
	border-left: 10px red solid;
	height: 100vh;
}

#help-support {
	position: relative;
	z-index: 2;
	color: #fff;
}

.donate-prpa h2 {
	position: relative;
	z-index: 2;
	color: #fff;
	margin-bottom: 12%;
}

.donate-prpa p {
	position: relative;
	color: #fff;
	z-index: 2;
	line-height: .5rem;
}

.donate-prpa h5 {
	position: relative;
	z-index: 2;
	color: #fff;
}

#prpa-donate-btn {
	position: relative;
	background: red;
	color: #fff;
	padding: .7rem;
	font-size: 1.2rem;
	border:none;
	margin-top: 1.5%;
	margin-bottom: 3%;
	border-radius: 15%;
	z-index: 2;
}

#prpa-donate-btn:hover {
	background-color: blue;
	cursor: pointer;
}

.donate-prpa h6 {
	position: relative;
	z-index: 2;
	color: #fff;
}

/* end donate */

/*********** contact *************/

.contact-form-body {
	background: lightblue;
}
.contact-form{
	margin-top: 10%;
	margin-bottom: 10%;
}

.contact-form h2{
	position: relative;
	text-align: center;
	top: 5%;
	margin-bottom: 5%;
	color: red;
}

.contact-form p {
	position: relative;
	text-align: center;
}

.form-border {
	border-top: 2px #000 solid;
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
	border-bottom: 2px #000 solid;
}
form > label, input, textarea {
	display: block;
}

textarea {
	width: 100%;
	height: 150px;
}

.contact-form button{
	margin-bottom: 5%;
}

/* partnerships */

#partnerships-text {
	position: relative;
	margin-top: 10%;
	text-align: center;
}
.partnerships-container {
	margin-top: 6%;
	margin-bottom: 12%;
	text-align: center;
}
/***************footer*****************/
#footer{
	position: relative;
	top: 0px;
	left: 0;
	bottom: 0;
	text-align: center;
	height: 75px;
	width: 100%;
	background: #000;
}

#footer p{
	padding-top:15px;
	margin: 0 auto;
	color: #fff;
}

#footer {
	height: 75px;
}

/******************end of index.html*************/
/**********signup**************/

main form {
	position: relative;
	top: 300px;
}
.comments-img{
	width: 23rem;
	height: 18rem;
}

.comment-button{
	width: 8rem;
	height: 3rem;
	background-color: #282828;
	border: none;
	margin-bottom: 6rem;
	color: #fff;
	font-family: arial, sans-serif;
	font-weight: 400;
	cursor: pointer;
}

.comment-box {
	width:21rem;
	padding:20px;
	margin-bottom: 2rem;
	background-color: #fff;
	border-radius: 5px;
}

.comment-box p {
	font-family: arial, sans-serif;
	font-size: 1rem;
	line-height: 1.3rem;
	color: #282828;
	font-weight: 100;
}