/*

*/

/***************header***************/
body{
	background-color: #fff;
	overflow-x: hidden;
	height: 900px;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.nav-container, div ul{
	max-height: 100%;

}

header-section{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

#top {
	background-color: #0050f0; /* flag blue */
	color: #fff;
}

#top span {
	position: relative;
	margin-left: 3rem;
}
#clock{
	display: inline-block;
	color: #fff;
	height: 2.5rem;
	padding-top: 7px;
}

			.nav-container {
				border-top: 4px red solid;
			}
			nav {
				width: 100%;
				background: #000;
			}

			ul {
				position: relative;
				left: 31%;
				width: 100%;
				margin: 0 auto;
				font-size: 1.1em;
				background: #000;
				display: inline-block;
			}

			ul li {
				list-style: none;
				display: inline-block;
				margin-top: 10px;
				padding-right: 15px;
			}

			ul li a {
				color: #fff;
				text-decoration: none;
				
			}

			ul li a:hover {
				color: #fff;
				text-decoration: none;
				background: red;
				padding-top: 15px;
				padding-bottom: 19px;
			}

			.img-nav nav{
				height: 3.3rem;
				display: inline-block;
			}

			.toggle {
				width: 100%;
				padding:10px 20px;
				background: #000;
				text-align: right;
				box-sizing: border-box;
				color: #fff;
				font-size: 30px;
				display: none;
			}

			.toggle:hover {
				color: red;
				cursor: pointer;
			}

			

				ul {
					width: 100%;
					/*display: none;*/
				}

				ul li {
					display: inline-block;
				}

				.active {
					display: block;
				}
			

/*nav ul{
	position: relative;
	height: 3.2rem;
	text-align: center;
	border-top: #ed0000 4px solid;
	background: #000;


}

.navbar {
	padding: 0 !important;
	text-align: center;
}

.navbar-nav {
	
	width: 100%;
}

.navbar ul li{
	position: relative;

	/*left: 25%;*/
	/*margin-bottom: 20px;*/
/*}*/

.nav-logo-container {
	position: absolute;
	height: 51.19px;
	padding: 0;
	left: 15px;
	background-color: #000;
	/*border-top: red 4px solid;*/
	border-bottom: #000 5px solid;
	width: 100%;
	height: 3.3rem;
	background: #000;
}

.nav-logo-container img{
	position: absolute;
	background-color: #fff;
	padding-top: 7px;
	width: 20%;
	height: 100%;
	left: 25px;
}

/*nav ul li{
	list-style: none;
	display: inline-block;
	font-size: 1rem;
	padding-right: 1%;
	text-align: center;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
}

nav ul li:hover{
	background: red;
	padding-top: 0px;
	padding-bottom: 0px;
	text-decoration: none;
}

nav ul li a:hover {
	color: #fff;
}*/

.current{
	background-color: red;
	padding-top: 15px;
	padding-bottom: 18px;
	padding: 15px 10px 18px 10px;
}

#logo {
	position: relative;
	/*top: 18%;*/
	margin-top: 5%;
	/*margin-bottom: 2%;*/
}

#logo h4 {
	position: relative;
	z-index: 2;
	color: #fff;
	padding-bottom: 2%;
}
#logo-img {
	position: relative;
}

/*#logo #cpd-star-img{
	position: relative;
	width: 30%;
}*/

.text-center h3 {
	position: relative;
	z-index: 2;
	margin-top: 2%;
	color: #fff;

}

#flag-header-overlay {
	position: absolute;
	/*background: rgba(0, 0, 0, 0.01);*/
	width: 100%;
	height: 100%;
	right: 0;
 	z-index: 1;

}

.text-center {
	background-image: url('../img/large-wavey-flag.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-bottom: 2px #000 solid;
	margin-bottom: 1.5%;
}

.text-center h3 {
	font-size: 2.5vw;
}

.text-center h4 {
	font-size: 2vw;
}

#slider-gallery-4img {
	position: relative;
	height: 370px;
}

#slider-gallery-4img img{
	position: relative;
	/*top: 22%;*/
	width: 100%;
	height: 370px;
	margin-left:2%;
}

#gallery-4img img {	
	display: inline-block;
	width: 47%;
	height: 49.5%;
	padding: 1%;
	margin-right: 2%;
	margin-left: 0;
	border: 1px #000 solid;
}

.top-gal-img{
	margin-bottom: 1%;
}

/*********end of header***********/

/**********index**************/

.overlay{
	position: relative;
	background-color: rgba(0, 0, 0, 0.6);
  	background-size: cover;
  	/*bottom: 0;*/
  	height: 80vh;
  	width: 100%;
 	z-index: 2;
}



#serving-community-text {
	position: relative;
	top: 10%;
}

#serving-community-text p {
	font-size: 5rem;
}
.serving {
	margin-top: 2%;
}

.mission-paragraph{
	width: 90%;
}

#mission-img {
	position: relative;
	background-image: url('../img/img9.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-top: 4px blue solid;
	border-bottom: 4px red solid;
	color: #fff;
	font-style: italic;
	margin-top: 2%;
	text-align: center;
	font-size: 1rem;
}

/************news and events section */
#news-wrapper {
	margin-top: 0rem;
	height: 390px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #ddd;
	border-top: 1px #000 solid;
}

#news-events-section-titles {
	position: relative;
	margin-top: 6%;
}

#news-section-title {
	position: relative;
	left: 1.5%;
	border-bottom: 4px blue solid;
	height: 65px;
	padding-left: 0;
}

#news-section-title h4 {
	position: relative;
	bottom: 0;
	color: #fff;
	display: inline-block;
	background: blue;
	margin-bottom: 0;
	padding: 1.1rem;
	border-radius:10px 10px 0 0;
}

#news-section-title-empty-div {

	padding: 0;
}

#events-section-title {
	position: relative;
	border-bottom: 4px red solid;
	height: 65px;
	padding: 0;
	border-radius:5px;
}

#events-section-title h4{
	position: relative;
	bottom: 0;
	display: inline-block;
	color: #fff;
	background: red;
	margin-bottom: 0;
	padding: 1.1rem;
	border-radius:10px 10px 0 0;

}


.news-upcoming {
	padding-top: 2%;
}

.news-img {
	position: relative;
	width: 100%;
	height: 50%;
	margin-left: 9%;
}

.events-img {
	position: relative;
	width: 200px;
	height: 100px;
	margin-bottom: 2rem;
}
/*************end of index**************/

/**************gallery******************/

#galleryarchive-body{
	background: #ddd;
}

.gallery-title {
	text-align: center;
}

.gallery-title h3{
	margin-top: 5%;
	background: blue;
	color: #fff;
	display: inline-block;
	padding: 15px;
	border-radius: 25px;
}

.gallery-title h4{
	margin-bottom: 5%;
	background: blue;
	color: #fff;
	display: inline-block;
	padding: 15px;
	border-radius: 25px;
}

#summer-jam-2018 {
	margin-top: 15%;
}

#gallery-years {
	max-width: 960px;
	margin-top: 5%;
	margin-bottom: 10%;
	display: block;
	height: 275px;
	overflow:auto;
	background: #fff;
}

#gallery-years a{
	list-style: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

#gallery-years button {
	margin: .5rem;
	padding: 5px;
	display: block;
	width: 10rem;
}

.red-button button{
	background: red;
}

.blue-button button {
	background: blue;
}

#gallery-years ul li a {
	color: #fff;
}

#gallery-top-btn {
	position: fixed;
	right:3rem;
	top: 53%;
	z-index: 3;
	
}

#gallery-top-btn button  {
	background: blue;
}

#gallery-top-btn button:hover{
	background: red;
}

#gallery-top-btn button a {
	color: #fff;
}

#gallery-top-btn button a:hover {
	text-decoration: none;
}


.photo-container {
	/*height: 100vh;*/
	max-width: 960px;
	margin-bottom: 10%;
	text-align: center;
	/*margin: 10px 50px;*/
}

.photo-container img {
	max-width: 175px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}

.photo-container img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}



/* end gallery */

/*************** join prpa ****************/
#prpa-title {
	margin-top: 10%;
	color: #000;
	height: 10rem;
	text-align: center;
	border: 2px #000 solid;
	background: #fff;
}

#prpa-title h4 {
	position: relative;
	margin-top:4%;
}

#prpa-title h5 {
	position: relative;
	margin-top: 3%;
}

.required {
	color: red;
}

.required-text {
	color: red;
	font-size: 1rem;
}
#membership-type {
	padding-top: 2%;
	border-left:2px #000 solid;
	border-right:2px #000 solid;
	padding-bottom: 3%;
	background: lightblue;
}

#membership-type h5 {
	text-align: center;
	display: inline-block;
	padding-bottom: 3%;
}

#reg-membership {
	padding-bottom: 3%;
}

#member-address {
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
	border-bottom: 2px #000 solid;
	background: lightblue;
}

#member-address form {
	padding-top: 3%;
	padding-bottom: 3%;
}

#prpa-correspondence {
	padding-top: 3%;
	padding-bottom: 3%;
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
	border-bottom: 2px #000 solid;
	background: lightblue;
}

.volunteer {
	padding-bottom: 1%;
	padding-top: 3%;
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
	background: lightblue;
}

input {
	display: inline !important;
	margin-right: .5rem !important;
}

.checkboxes {
	padding-bottom: 3%;
	border-bottom: 2px #000 solid;
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
	background: lightblue;
}

.box1{
	position: relative;
	display: inline;
	left: 2%;
}

.box2 {
	position: absolute;
	display: inline;
	top: 0;
	left: 41%;
}

.box2-1 {
	position: absolute;
	display: inline;
	top: 28%;
	left: 41%;
}

.box3 {
	position: absolute;
	display: inline;
	top: 0;
	left: 72%;
}

.box3-1 {
	position: absolute;
	display: inline;
	top: 28%;
	left: 72%;
}

#agency-container {
	padding-top: 3%;
	padding-bottom: 3%;
	margin-bottom: 10%;
	border-bottom: 2px #000 solid;
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
	background: lightblue;
}

#agency-container button:hover {
	background: #0050f0;
	color: #fff;
	cursor: pointer;
}

#agency-container h4 {
	text-align: center;
	padding-bottom: 2%;
}

#join-bg {
	background: #ddd;
}

.right-side {
	position: relative;
	/*padding-left: 40%;*/
	left: 40%;
}

.middle {
	position: relative;
	left: 30%;
}

#reg-membership {
	padding-top: 3%;
	border: 2px #000 solid;
	background: lightblue;
}

#member-address button:hover {
	background: #0050f0;
	color: #fff;
	cursor: pointer;
}

#swornlaw {
	font-size: 1rem;
	color: red;
}

/* end join prpa */

/*************member card****************/

.membercard {
	margin-top: 10%;
	margin-bottom: 10%;
}
.membercard h3 {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	
}

.prpa-container {
	border-top: 2px #000 solid;
	border-bottom: 2px #000 solid;
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
	background: lightblue;
}

.card-container {
	padding-top: 5%;
	padding-bottom: 5%;
	border-left: 2px #000 solid;
}

.text-container {
	padding-top: 5%;
	padding-bottom: 5%;
	border-right: 2px #000 solid;
}

.email-container {
	padding-bottom: 5%;
	border-bottom: 2px #000 solid;
	border-right: 2px #000 solid;
	border-left: 2px #000 solid;
}

.email-container button:hover {
	background: lightblue;
	cursor: pointer;
	color: #fff;
}
/*end member card*/

/************ about ****************/

#serving-community {
	position: relative;
	/*background-image: url('../img/shirt.jpg');*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-top: 4px blue solid;
	border-bottom: 4px red solid;
	color: #fff;
	font-style: italic;
	text-align: center;
	font-size: 1rem;
	opacity: 0.8;
}

#serving-community {
	position: relative;
	top: 0;
}

.about-text-container {
	background-color: lightblue;	
}

.prpa-assoc {
	background-color: #fff;
	margin-top: 8%;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 5px 10px #000;
}

.prpa-bottom {
	margin-bottom: 8%;
}

/* end about */


/*********** board members *************/

.first-row {
	margin-top:8%;
}
.head-shots {
	position:relative;
	text-align: center;
}

.head-shots img {
	/*padding-left: 13.5%;*/
	margin-top: 10%;
	border-radius: 100px;
}

.head-shots h3 {
	padding-top: 10px;
	color: blue;
}

.head-shots-bottom {
	margin-bottom: 10%;
}
/* end board members */


/************ donate *******************/

.main-container {
	margin-bottom: 2%;
}
.badge-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
  	width: 49%;
  	height: 100vh;
 	z-index: 1;
}

.donate-officer {
	position: relative;
	background-image: url('../img/fallenbadge.jpg');
	text-align: center;
	background-position: center;
	border-right: 10px blue solid;
	height: 100vh;
	color: #fff;
}

.donate-officer h2 {
	position: relative;
	text-align: center;
	margin-top: 2%;
	z-index: 2;
}

#help-support {
	position: relative;
	margin-top: 10%;
}

.donate-officer h5 {
	position: relative;
	z-index: 2;
}

#officer-donate-btn {
	position: relative;
	background: blue;
	color: #fff;
	padding: .7rem;
	font-size: 1rem;
	border:none;
	margin-top: 1.5%;
	margin-bottom: 3%;
	border-radius: 15%;
	z-index: 2;

}

#officer-donate-btn:hover {
	background-color: red;
	cursor: pointer;
}

.donate-officer p {
	position: relative;
	line-height: .5rem;
	z-index: 2;
}

.donate-officer h6 {
	position: relative;
	z-index: 2;
}

.prpa-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
  	/*bottom: 0;*/
  	left: 50.8%;
  	width: 50%;
  	height: 100vh;
 	z-index: 1;
}

.donate-prpa {
	position: relative;
	text-align: center;
	background-image: url('../img/elmoro.jpg');
	background-repeat: no-repeat;
	background-position: center;
	border-left: 10px red solid;
	height: 100vh;
}

#help-support {
	position: relative;
	z-index: 2;
	color: #fff;
}

.donate-prpa h2 {
	position: relative;
	z-index: 2;
	color: #fff;
	margin-bottom: 12%;
}

.donate-prpa p {
	position: relative;
	color: #fff;
	z-index: 2;
	line-height: .5rem;
}

.donate-prpa h5 {
	position: relative;
	z-index: 2;
	color: #fff;
}

#prpa-donate-btn {
	position: relative;
	background: red;
	color: #fff;
	padding: .7rem;
	font-size: 1rem;
	border:none;
	margin-top: 1.5%;
	margin-bottom: 3%;
	border-radius: 15%;
	z-index: 2;
}

#prpa-donate-btn:hover {
	background-color: blue;
	cursor: pointer;
}

.donate-prpa h6 {
	position: relative;
	z-index: 2;
	color: #fff;
}

/* end donate */

/*********** partnerships ***************/

#partnerships-text {
	position: relative;
	margin-top: 5%;
	text-align: center;
}
.partnerships-container {
	margin-top: 6%;
	margin-bottom: 12%;
	text-align: center;
}

/* end partnerships */

/*********** contact *************/

.contact-form-body {
	background: lightblue;
}
.contact-form{
	color: #fff;
	margin-top: 10%;
	margin-bottom: 10%;
}

.contact-form h2{
	position: relative;
	text-align: center;
	top: 5%;
	margin-bottom: 7%;
	text-transform: uppercase;
	z-index: 2;
}

.contact-form p {
	position: relative;
	text-align: center;
	line-height: .5rem;
	font-size: 1.2rem;
	z-index: 2;
}

#form-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	right: 0;
 	z-index: 1;
}
.form-border {
	background-image: url('../img/wavey-flag.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-top: 2px #000 solid;
	border-left: 2px #000 solid;
	border-right: 2px #000 solid;
	border-bottom: 2px #000 solid;
}
form > label, input, textarea {
	position: relative;
	display: block;
	z-index: 2;

}

textarea {
	width: 100%;
	height: 150px;
}

.contact-form button{
	position: relative;
	z-index: 2;
	margin-bottom: 5%;
}

.contact-form button:hover{
	background-color: red;
	border:none;
	color: #fff;
	cursor: pointer;
}
/* end contact */

/***************footer*****************/
#footer{
	position: relative;
	top: 0px;
	left: 0;
	bottom: 0;
	height: 550px;
	width: 100%;
	background: #000;
}

#links-text {
	position: relative;
	padding-top: 100px;
}

.links {
	padding-bottom: 2%;
}

.links-border {
	border-right: 3px blue solid;
}

#footer ul li{
	list-style: none;
}

#footer ul li a:hover{
	color: red;
	text-decoration: none;
}

#footer p{
	padding-top:3%;
	padding-bottom: 3%;
	/*margin: 0 auto;*/
	margin-top: 0;
	color: #fff;
	text-align: center;
}

#prpa-vkweb {
	padding-top:3%;
}

#prpa-vkweb i {
	font-size: 28px;
	color: blue;
	padding-right: 45px;
}

#prpa-vkweb i:hover {
	color: red;
}

#prpa-vkweb {
	text-align: center;
}

#prpa-copy-right {

	padding-bottom: 0 !important;
}

#vk-link {
	padding-top: 0px;
}

#vk-link:hover{
	text-decoration: none;
	color: red;
}
/******************end of index.html******************/

/************MEDIA QUERIES***************************/



@media (max-width: 1120px) {
				.toggle {
					position: relative;
					display: block;
					width: 60px;
					left: 80%;
				}

				ul {
					width: 100%;
					display: none;
				}

				ul li {
					width: 100%;
					display: block;
				}

				ul li a:hover {
					background: red;
					padding: 0;
				text-decoration: none;
			}

				.active {
					display: block;
				}

				.nav-logo-container {
					/*display: none;*/
					border:none;
				}

				.nav-logo-container img{
					visibility: hidden;
				}

				.text-center h3 {
					font-size: 2vw;
					margin-top: 4%;
				}

				.text-center h4 {
					font-size: 1.75vw;
				}

				.toggle {
					font-size: 20px;
				}

				.toggle:hover {
					color:#fff;
					background: red;
					padding-bottom: 13px;
				}

				#top {
					border-bottom: 4px red solid;
				}
			}

@media (max-width: 1025px) {

	#logo {
		margin-top: 6%;
	}
}

@media (max-width: 875px) {

	#logo {
		margin-top: 8%;
	}

	.text-center h3 {
		font-size: 20px;
	}

	.text-center h4 {
		font-size: 15px;
	}
}

@media (max-width: 700px) {

	#logo {
		margin-top: 9.5%;
	}
}

@media (max-width: 575px) {

	#logo {
		margin-top: 12%;
	}

	
}

@media (max-width: 515px) {

	#logo {
		margin-top: 14.5%;
	}

	.text-center h3 {
		color: #000;
	}

	#logo h4 {
		color: #000;
	}
}


/*@media (max-width: 968px) {
				
	}			
@media (max-width: 1220px) {
	.nav-logo-container img{
		visibility: hidden;
	}

	nav {
		display: none;
	}

	.toggle {
					position: relative;
					display: block;
					width: 60px;
					left: 80%;
				}

	.img-nav nav {
		max-height: 3.3rem;
	}
}

*/
